@import "common/const.scss";
.gui-button{font-size: 16px; display: inline-block; border: 1px solid #eee; cursor: pointer; padding: 0 15px; color: $text-color; text-align: center; line-height: 40px; border-radius: 4px; box-sizing: border-box;
    &.primary{color: $white-color; border-color: $primary-color; background-color: $primary-color;
        &:hover{background-color: $primary-light-color; border-color: $primary-light-color;}
    }
    &.danger{color: $white-color; border-color: $danger-color; background-color: $danger-color;
        &:hover{background-color: $danger-light-color; border-color: $danger-light-color;}
    }
    &.success{color: $white-color; border-color: $success-color; background-color: $success-color;
        &:hover{background-color: $success-light-color; border-color: $success-light-color;}
    }
}
