$danger-color: red;
$primary-color: blue;
$text-color: #444;

.gui-button{display: inline-block; border: 1px solid #eee; cursor: pointer; color: $text-color; min-width: 100px; text-align: center; line-height: 40px; border-radius: 4px;
    &.primary{color: $primary-color; border-color: $primary-color;}
    &.danger{color: $danger-color; border-color: $danger-color;}
}
