@import "common/const.scss";
.gui-select{width: 180px; position: relative;
    &-input{cursor: pointer;}
    &-main{position: absolute; width: 100%; max-height: 120px; overflow: auto; top: calc(100% + 10px); left: 0; border: 1px solid $input-border-color; border-radius: $input-border-radius; box-shadow: 0 0 4px $input-border-color;}
}
