$primary-color: #409eff;
$danger-color: #F56C6C;
$success-color: #67c23a;
$text-color: #444;
$white-color: white;

$primary-light-color: mix($white-color, $primary-color, 20%);
$danger-light-color: mix($white-color, $danger-color, 20%);
$success-light-color: mix($white-color, $success-color, 20%);

$input-border-color: #eee;
$input-border-radius: 2px;


$select-hover-bgcolor: #F6F6F6;
$select-active-bgcolor: $primary-light-color;


$zIndex: 1000;
